root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# IDE0290: Use primary constructor
dotnet_diagnostic.IDE0290.severity = none

# CA1848: Use the LoggerMessage delegates
dotnet_diagnostic.CA1848.severity = suggestion

# IDE0063: Use simple 'using' statement
csharp_prefer_simple_using_statement = false:silent
